

nav {
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);
    height: 4rem;
}

#navigation-logo {
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
    text-decoration: none;
}
#navigation-logo:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#navigation-logo > img {
    height: 1.3em;
    margin-top: 0em;
    margin-right: 0.6em;
    float: left;
}
/* perfectly scaled to text
#navigation-logo > img {
    height: 0.7em;
    margin-top: 0.3em;
    margin-right: 0.3em;
    float: left;
}
*/

#navigation-buttons {
    float: right;
    width: auto;
    padding: 0;
    overflow: visible;
}
#navigation-buttons > a {
    margin: 0.35rem 0rem 0.3rem 0.8rem;
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}
#navigation-buttons > .language-swap {

}
#navigation-buttons > a:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#hamburger-menu-button {
    display: none;
}
#hamburger-menu-button > label {
    visibility: hidden;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}
#navigation-menu {
    display: none;
}
@media only screen and (max-width: 300mm) {
    /* centered
    #navigation-logo {
        margin: auto;
        text-align: center;
        float: none;
    }
    #navigation-buttons {
        margin: auto;
        text-align: center;
        width: auto;
        float: none;
    }
    */
    #navigation-logo {
        font-size: 1.5rem;
        float: none;
    }
    #navigation-buttons > a {
        margin: 0.65rem 0.8rem 0.3rem 0rem;
    }
    #navigation-buttons {
        display: none;
        float: none;
    }
    nav {
        overflow: visible;
    }
    nav > div {
        overflow: visible;
    }
    #navigation-logo > img {
        height: 1.3em;
        margin-top: 0em;
        margin-right: 0.6em;
        float: left;
    }
    #hamburger-menu-button {
        overflow: visible;
        display: block;
        position: relative;
        float: right;
        width: 2rem;
        height: 2rem;
        padding: 0;
        margin: 0;
        user-select: none;
        z-index: 16;
    }
    #hamburger-menu-button > input {
        padding: 0;
        margin: 0;
        width: 2rem;
        height: 2rem;
        border: none;
        background-color: transparent;
        opacity: 0.25;
        border-radius: 1rem;
        user-select: none;
        z-index: 16;
    }
    #hamburger-menu-button > span {
        background-color: var(--brand-color-contrast);
        padding: 0;
        margin: 0;
        left: 10%;
        position: absolute;
        box-sizing: border-box;
        width: 80%;
        height: 19%;
        opacity: 1;
        transition: 0.25s cubic-bezier(.5, 0, .5, 1);
    }
    #hamburger-menu-button > #burger-bun-top {
        top: 10%;
        transform-origin: 10% 100%;
    }
    #hamburger-menu-button > #burger-meat {
        top: 40%;
    }
    #hamburger-menu-button > #burger-bun-bottom {
        top: 70%;
        transform-origin: 10% 0%;
    }
    #hamburger-menu-button > input:checked ~ span {

    }
    #hamburger-menu-button > input:checked ~ #burger-bun-top {
        width: 96%;
        left: 17%;
        transform: rotate(45deg);
    }
    #hamburger-menu-button > input:checked ~ #burger-meat {
        opacity: 0;
    }
    #hamburger-menu-button > input:checked ~ #burger-bun-bottom {
        width: 96%;
        left: 17%;
        transform: rotate(-45deg);
    }
    #hamburger-menu-button > input:active, #hamburger-menu-button > input:checked:active {
        background-color: var(--brand-color-contrast);
    }
    #hamburger-menu-button > input:checked {
        background-color: transparent;
    }
    #hamburger-menu-button > input:checked::after {
        content: "";
        background-image: none;
        background-size: contain;
        position: absolute;
        visibility: hidden;
    }
    #navigation-menu {
        display: block;
        position: fixed;
        width: 12rem;
        top: 4rem;
        opacity: 0;
        right: -16rem;
        margin-top: 2.2rem;
        height: 100vh;
        box-sizing: border-box;
        background-color: var(--brand-color);
        color: var(--brand-color-contrast);
        overflow-x: hidden;
        overflow-y: auto;
        transition: right 0.25s cubic-bezier(.5, 0, .5, 1), opacity 0.25s cubic-bezier(.5, 0, .5, 1), width 0.25s cubic-bezier(.5, 0, .5, 1);
        z-index: 16;
    }
    #navigation-menu > div > a {
        display: block;
        font-size: 1.5rem;
        margin: 0.5rem 0 0.1rem 0;
        text-align: right;
    }
    #hamburger-menu-button > input:checked ~ #navigation-menu {
        right: 0rem;
        top: 4rem;
        width: 100vw;
        opacity: 1;

    }
}
#navigation-logo-ultra-small {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
#navigation-logo-ultra-small:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#navigation-logo-ultra-small > img {
    height: 1.3em;
    margin-top: 0em;
    margin-right: 0.6em;
    float: left;
}
@media only screen and (max-width: 128mm) {
    #navigation-logo {
        display: none;
    }
    #navigation-logo-ultra-small {
        display: inline-block;
    }
}



.navigation-breadcrumb {
    display: inline-block;
    position: relative;
    overflow: visible;
    padding: 0.3em 0.5em 0.2em 1.5em;
    color: var(--foreground-color);
    margin: 0.5rem -0.4rem 0 0;
    height: 2rem;
    box-sizing: border-box;
    vertical-align: top;
    line-height:1;
    border-width: 0.2rem;
    border-style: solid none solid none;
    border-color: var(--foreground-color);
}

.navigation-breadcrumb-container {
    padding: 0;
}

.navigation-breadcrumb:first-child {
    padding: 0.3em 0.5em 0.2em 0.5em;
    border-style: solid none solid solid;
}

.navigation-breadcrumb:last-child {
    font-weight: bold;
}

.navigation-breadcrumb::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.70710678118rem;
    right: -0.70710678118rem;
    width: 1.41421356237rem;
    height: 1.41421356237rem;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-sizing: border-box;
    border-width: 0.2rem;
    border-style: solid solid none none;
    border-color: var(--foreground-color);
}

.navigation-breadcrumb > span {
    vertical-align: baseline;
}

.navigation-breadcrumb > span > span {
    vertical-align: baseline;
}

.navigation-breadcrumb > span > .inline-icon-low-margin {
    height: 1rem;
    vertical-align: bottom;
}

@media only screen and (max-width: 200mm) {
    .navigation-breadcrumb {
        display: block;
        position: relative;
        overflow: visible;
        padding: 0 0 0 1em;
        color: var(--foreground-color);
        margin: 0.5rem 0 0 0;
        height: auto;
        box-sizing: border-box;
        border-width: 0.2rem;
        border-style: none;
        border-color: var(--foreground-color);
    }

    .navigation-breadcrumb:first-child {
        padding: 0;
        border-style: none;
    }

    .navigation-breadcrumb:first-child::before{
        content: "";
        display: none;
    }

    .navigation-breadcrumb::before{
        content: "";
    }

    .navigation-breadcrumb::after {
        content: "";
        display: none;
    }
}




.navigation-breadcrumb:focus, .navigation-breadcrumb:hover {
    outline: none;
    z-index: 32;
    opacity: 1;
    border-color: var(--brand-color-ui-highlight);
}

.navigation-breadcrumb:focus::after, .navigation-breadcrumb:hover::after {
    border-color: var(--brand-color-ui-highlight);
}
