{% extends "base.html" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "node-views/node-view-breadcrumbs.html" %}
    
        <h1>Adding a new property</h1>
        
        <h2>What do you want to call this property?</h2>
        
        <form method="POST">
            <label for="name">Property Name</label>
            {% if duplicate_property_name %}
                <input type="text" id="name" name="name" value="{{ duplicate_property_name }}" placeholder="e.g. NHS Number" />
            {% else %}
                <input type="text" id="name" name="name" placeholder="e.g. NHS Number" />
            {% endif %}
            <input type="submit" value="Add property" />
        </form>

    </div>
</div>

{% endblock %}
