<div class="navigation-breadcrumb-container">
    <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
    {% if progressive_load %}
        {% for parent_node_path in primary_node_path_order %}
            {% set dnn_id = random(1000000, 9999999) %}
            <a class="navigation-breadcrumb" href="/graph/{{ parent_node_path }}" id="dynamic_node_name_{{ dnn_id }}"><script>document.getElementById("dynamic_node_name_{{ dnn_id }}").appendChild((new PathNameView("{{ primary_node_deegraph_paths[parent_node_path] }}")).render())</script></a>
        
        {% endfor %}
    {% else %}
        {% for parent_node_path in primary_node_path_order %}
            <a class="navigation-breadcrumb" href="/graph/{{ parent_node_path }}?{{ root_url_metadata.setPath(parent_node_path, primary_node_path_nodes[parent_node_path]).clearReturnStack() }}">{% if primary_node_path_names[parent_node_path] | trim | length %}{{ primary_node_path_names[parent_node_path] | unpack_string | ndtitle }}{% else %}<em>{{ "unnamed_node" | uitxt | ndtitle }}</em>{% endif %}</a>
        {% endfor %}
    {% endif %}
</div>

{% if top_error_message %}
    <div class="info-note">
    {% if top_error_message == "PATH_REFERENCE_MISMATCH" %}
        <span class="note-heading">Notice</span>
        <span>Someone has just changed the location of the data you were viewing. You have now been redirected to an &quot;absolute&quot; rather than &quot;relative&quot; link to the data you were trying to view.</span>
    {% endif %}
    </div>
{% endif %}
