{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "/Pages/node-views/node-view-breadcrumbs.html.twig" %}
    
        <h1>Editing {% if primary_node_path_name | trim | length %}{{ primary_node_path_name | unpack_string | ndtitle }}{% else %}<em>{{ "unnamed_node" | uitxt }}</em>{% endif %}</h1>
        
        <div class="spacer"></div>
        
        <form method="POST">
            <textarea name="value">{{ node.data }}</textarea>
            <input type="submit" value="Save changes" />
        </form>

    </div>
</div>

{% endblock %}
