{% extends "/Bases/AutomatedEmail.html.twig" %}

{% block message %}
<p style="{{ default_text_style }}">Here's the verification code we need to add this email address to your account:</p>
<span id="verification-code" style="font-size: 7.5mm; font-family: monospace;">{{ verification_code }}</span>
{% endblock %}
