/src/environment.php
/src/twig/compilation_cache/
/src/unused/
/src/vendor/
/src/composer.lock
/src/assets/branding.css
/src/assets/custom/
/src/favicon.png
/src/favicon.svg
/src/favicon.ico
/src/templates/en/base.html
/certs
/bin

.idea/
*.phar
.phpunit.result.cache
credentials.php
*.jar
nohup.out
