
# Dev Files
src/.idea/
src/composer.phar
src/vendor

# Dev (Testing) Files
src/.phpunit.result.cache

# Dev (Documentation) Files
src/.phpdoc
src/.phpdoc-export
src/phpunit.phar
src/phpDocumentor.phar

# Dev (Misc) Files
*.jar
nohup.out

# Config Files
src/Configuration/Configuration/Secrets.yaml
src/Configuration/Configuration/Credentials.php
src/Configuration/Configuration/Environment.php

# Local Storage Files
src/LocalStorage
!src/LocalStorage/**/.gitkeep
