
# Dev Files
Auxilium/.idea/
Auxilium/composer.phar
Auxilium/vendor

# Dev (Testing) Files
Auxilium/.phpunit.result.cache

# Dev (Documentation) Files
Auxilium/.phpdoc
Auxilium/.phpdoc-export
Auxilium/phpunit.phar
Auxilium/phpDocumentor.phar

# Dev (Misc) Files
*.jar
nohup.out

# Config Files
Auxilium/Configuration/Configuration/Secrets.yaml
Auxilium/Configuration/Configuration/Credentials.php
Auxilium/Configuration/Configuration/Environment.php
Auxilium/Configuration/Configuration/msft-access-token-primary.json

# Local Storage Files
!Auxilium/LocalStorage/.gitkeep
!Auxilium/LocalStorage/**/.gitkeep
Auxilium/LocalStorage
