{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "node-views/node-view-breadcrumbs.html" %}
    
        <form action="?{{ url_metadata }}" method="POST">
    
        {% if last_page %}
            <h1 class="no-lower-margin">{{ page_definition.title | unpack_string | ndtitle }}</h1>
            <span class="reverse-navigational-link-submit"><span class="inline-icon reverse-internal-link-marker-icon"></span><input type="submit" name="nav_button_rev_from_{{ current_page }}" value="Back" /></span>
            <div class="spacer"></div>
        {% else %}
            <h1>{{ page_definition.title | unpack_string | ndtitle }}</h1>
        {% endif %}
        
        <script src="/js/generic-ui.js"></script>
        
        {% for component in page_definition.components %}
            {% set emid = [] %}
            {% for i in 1..32 %}
                {% set randomCharacter = random("ABCDEFGHIJKLMNOPQRSTUVWXYZ234567") %}
                {% set emid = emid | merge([randomCharacter]) %}
            {% endfor %}
            {% set emid = emid | join %}
            
            {% if component.label %}
                <label for="${{ emid }}">{{ component.label | unpack_string | ndtitle }}</label>
            {% endif %}
            
            {% if component.type == "TEXT_FIELD" %}
                {% if variables[component.output_variable] %}
                    <input type="text" id="{{ emid }}" name="${{ component.output_variable }}" value="{{ variables[component.output_variable] }}" />
                {% else %}
                    {% if component.default_value %}
                        <input type="text" id="{{ emid }}" name="${{ component.output_variable }}" value="{{ component.default_value }}" />
                    {% else %}
                        <input type="text" id="{{ emid }}" name="${{ component.output_variable }}" />
                    {% endif %}
                {% endif %}
            {% elseif component.type == "MULTILINE_TEXT_FIELD" or component.type == "LARGE_TEXT_FIELD" %}
                {% if variables[component.output_variable] %}
                    <textarea type="text" id="{{ emid }}" rows="{{ component.rows }}" {% if component.type == "LARGE_TEXT_FIELD" %}class="fullwidth-text-input"{% endif %} name="${{ component.output_variable }}">{{ variables[component.output_variable] }}</textarea>
                {% else %}
                    {% if component.default_value %}
                        <textarea type="text" id="{{ emid }}" rows="{{ component.rows }}" {% if component.type == "LARGE_TEXT_FIELD" %}class="fullwidth-text-input"{% endif %} name="${{ component.output_variable }}">{{ component.default_value }}</textarea>
                    {% else %}
                        <textarea type="text" id="{{ emid }}" rows="{{ component.rows }}" {% if component.type == "LARGE_TEXT_FIELD" %}class="fullwidth-text-input"{% endif %} name="${{ component.output_variable }}"></textarea>
                    {% endif %}
                {% endif %}
            {% elseif component.type == "CHOICE_FIELD" %}
                {% for option in component.options %}
                    <div class="radio-button-holder">
                        {% if variables[component.output_variable] == option.value %}
                            <input type="radio" id="{{ emid }}-{{ option.value }}" name="${{ component.output_variable }}" value="{{ option.value }}" checked="checked">
                        {% else %}
                            <input type="radio" id="{{ emid }}-{{ option.value }}" name="${{ component.output_variable }}" value="{{ option.value }}">
                        {% endif %}
                        <label for="{{ emid }}-{{ option.value }}" class="long-form-label-for-radio-button"><p>{% if option.label_strong %}<strong>{{ option.label_strong | unpack_string }}</strong><br/ >{% endif %}{% if option.label_secondary %}<span>{{ option.label_secondary | unpack_string }}</span>{% endif %}</p></label>
                    </div>
                {% endfor %}
            {% else %}
                <h1>UNKNOWN COMPONENT TYPE {{ component.type }}</h1>
            {% endif %}
        {% endfor %}
        
        {% if next_page_is_review or next_page_is_send %}
            {% if next_page_is_send %}
                <input type="submit" name="submit_button" value="Submit form" />
            {% else %}
                <input type="submit" name="continue_button" value="Review" />
            {% endif %}
        {% else %}
            {% if current_page %}
                <input type="submit" name="nav_button_fwd_from_{{ current_page }}" value="Continue" />
            {% endif %}
        {% endif %}
        
        </form>

    </div>
</div>

{% endblock %}
