{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}Logged out{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <h1>Logged out</h1>
        <p>Your session has been ended, you may now close this window. To use the portal again please login.</p>
        <a href="/" class="button">Return to the homepage</a><a href="/Public" class="button">Login again</a>
    </div>
</div>

{% endblock %}
