{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        <h1>Error</h1>
        
        <script src="/js/generic-ui.js"></script>
        
        <div class="left-preferential-box">
            {% block primary_content %}
        
            <div class="marked-section">
                <p>This request doesn't look quite right. If you followed a link, please let us know what you were trying to do.</p>
                
                <ul>
                    <li><p>By email: <a href="mailto:{{ INSTANCE_INFO_MAINTAINER_EMAIL }}">{{ INSTANCE_INFO_MAINTAINER_EMAIL }}</a></p></li>
                </ul>
            </div>
            
            {% endblock %}
        </div>
        
        <div class="right-preferential-box">
            {% block secondary_content %}
        
            <div class="marked-section">
                <h2>Technical details</h2>
                <pre class="code-block">{{ technical_details }}</pre>
            </div>
            
            {% endblock %}
        </div>
        
        {% block tertiary_content %}
        {% endblock %}

    </div>
</div>

{% endblock %}
