{% extends "base.html" %}

{% block title %}{{ "all_cases" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/all-cases">{{ "all_cases" | uihdg }}</a>
        </div>
        
        <script src="/js/generic-ui.js"></script>
        
        <h1>{{ "all_cases" | uihdg }}</h1>
        
        <div class="separator"></div>
        {% set ltid = "TOP_FOLD_MESSAGE_BOX" %}
        
        <div class="logical-box" id="all_cases_container">
            
        </div>
        
        <script>
            let infiniteScroller = new InfiniteScroller("SELECT @path FROM ** INSTANCEOF $case", document.getElementById("all_cases_container"));
        </script>
        
    </div>
</div>
{% endblock %}
