{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <h1>Error {{ error_code }}</h1>
        
        {% if error_code == 404 %}
        
        <h2>Page not found</h2>
        <p>Either the page has been moved or the URL is incorrect. Whatever you were looking for, it isn't here.</p>
        
        {% elseif error_code == 401 %}
        
        <h2>Unauthorised</h2>
        <p>You need to be logged in to access this resource.</p>
        
        {% elseif error_code == 403 %}
        
        <h2>Forbidden</h2>
        <p>You don't have permission to access this resource.</p>
        
        {% elseif error_code >= 500 %}
        
        <h2>Internal Server Error</h2>
        <p>Something has gone wrong processing your request, please contact us using the information below, including what you were trying to do before this happened.</p>
        
        {% else %}
        
        <h2>HTTP Error</h2>
        <p>Something has gone wrong with your request, please contact us using the information below, including what you were trying to do before this happened.</p>
        
        {% endif %}

        <h2>General Queries</h2>
        <p>If you came to this page from a link, or believe for some other reason that this page should not have presented an error, please contact us:</p>
        <ul>
            <li><p>By email: <a href="mailto:{{ INSTANCE_INFO_MAINTAINER_EMAIL }}">{{ INSTANCE_INFO_MAINTAINER_EMAIL }}</a></p></li>
        </ul>
    </div>
</div>

{% endblock %}
