{% extends "base.html" %}

{% block title %}{{ "login" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <h1>{{ "login" | uihdg }}</h1>
        <form method="POST">
            <label for="email_address">{{ "email" | uiprop | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="text" name="email_address" placeholder="{{ "email" | uiprop | ndsentence }}" id="email_address" />
            <p class="error-toast" {% if form_validation.email_address %} style="display:none;" {% endif %}>This email address is not registered with our online portal</p>
            <label for="password">{{ "password" | uiprop | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="password" name="password" placeholder="{{ "password" | uiprop | ndsentence }}" id="password" />
            <p class="error-toast" {% if form_validation.password %} style="display:none;" {% endif %}>Incorrect password</p>
            <input type="submit" value="{{ "login" | uitxt | ndsentence }}" />{% for openid_config in openid_configs %}<a href="/api/v2/outbound-oauth-login/{{ openid_config.unique_name }}" class="button">{{ ("login_with_" ~ openid_config.display_name) | uitxt | ndsentence }}</a>{% endfor %}<a href="/sign-up" class="button">{{ "create_new_account" | uitxt | ndsentence }}</a>
            
            <div class="separator"></div>
            <a href="/forgot-password">{{ "ive_forgot_my_password" | uitxt | ndsentence }}</a>
        </form>
        
        <h2>{{ "cookie_notice" | uihdg }}</h2>
        <p>{{ "cookie_notice_blurb_start" | uitxt }} <a href="/privacy-policy" target="_blank">{{ "privacy_policy" | uitxt }}</a> ({{ "opens_in_new_tab" | uitxt }}). {{ "cookie_notice_blurb_end" | uitxt }}</p>
    </div>
</div>

{% endblock %}
