{% extends "base.html" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "node-views/node-view-breadcrumbs.html" %}
        
        <script src="/js/hidden-elements.js"></script>
        
        <h1>New text data</h1>
        
        {% if result %}
            <pre>{{ result }}</pre>
        {% endif %}
        
        <form method="POST">
            <label for="text">Text</label>
            <textarea id="text" name="text" placeholder="">{{ suggested_text }}</textarea>
            <input type="submit" value="Save data"></input>
        </form>
        
    </div>
</div>
{% endblock %}
