{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

    <div>
    <div class="inner-content">
        {% include "/Partials/NodeViews/Utilities/NodeViewBreadcrumbs.html.twig" %}

        <h1 class="no-lower-margin">{% if primary_node_path_name | trim | length %}{{ primary_node_path_name | unpack_string | ndtitle }}{% else %}<em>{{ "unnamed_node" | uitxt | ndtitle }}</em>{% endif %}</h1>
        <a class="reverse-navigational-link" href="/graph/{{ primary_string_path | raw }}">Back to node view</a><br />

        <script src="/js/generic-ui.js"></script>

        <div class="large-spacer"></div>

        <div class="marked-section">
            <h2>PDF</h2><br />

        </div>

    </div>
</div>

{% endblock %}
