
@import url("/Static/CSS/Mapper.css");

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-display: swap;
    src: url("/Static/Fonts/AtkinsonHyperlegible-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-display: swap;
    src: url("/Static/Fonts/AtkinsonHyperlegible-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "IBM Plex Mono";
    font-display: swap;
    src: url("/Static/Fonts/IBMPlexMono-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    font-display: swap;
    src: url("/Static/Fonts/IBMPlexMono-Bold.ttf") format('truetype');
    font-weight: bold;
}

:root {
    --brand-color: var(--brand-color-override, #152133);
    --brand-color-ui-highlight: var(--brand-color-ui-highlight-override, #e08910);
    --brand-color-contrast: var(--brand-color-contrast-override, #ffffff);
    --brand-color-alternate: var(--brand-color-alternate-override, #090e17);
    --brand-color-alternate-contrast: var(--brand-color-alternate-contrast-override, #ffffff);
    
    --background-color: #ffffff;
    --foreground-color: #000000;
    --foreground-color-headings: #000000;
    --foreground-color-outlines: #000000;
    
    --error-color: #cc2200;
    --error-color-contrast: #ffffff;
    
    --warning-color: #ffaa00;
    --warning-color-contrast: #000000;
    
    --positive-badge-color: #336600;
    --positive-badge-color-contrast: #ffffff;
    
    --neutral-badge-color: #ffaa00;
    --neutral-badge-color-contrast: #000000;
    
    --negative-badge-color: #cc2200;
    --negative-badge-color-contrast: #ffffff;
    
    --outline-width: 0.2rem;
    --outline-width-negative: -0.2rem;
    
    --form-max-width-small: 128mm;
    --form-max-width-small-fieldset: 122mm;
    /* --form-max-width-small-fieldset: 116mm; */
    
    --large-shadow-blur: 30mm;
    --large-shadow-spread: -10mm;
    
    --padding-level-one: 5mm;
    --button-padding: 3mm;
    --button-padding-inv: -3mm;
    
    font-size: 5mm;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: var(--foreground-color);
    font-size: 1rem;
    font-family: "Atkinson Hyperlegible", "Helvetica", "Arial", sans-serif;
    background-color: var(--background-color);
}

select:focus, input:focus, textarea:focus,  select:hover, input:hover, textarea:hover, a:hover, a:focus, .button:focus, .file-input-holder:focus, .button:hover, .file-input-holder:hover {
    outline: var(--outline-width) solid var(--brand-color-ui-highlight);
    outline-offset: 0rem;
}

.navigation-breadcrumb:focus, .navigation-breadcrumb:hover {
    outline: none;
    z-index: 32;
    opacity: 1;
    border-color: var(--brand-color-ui-highlight);
}

.navigation-breadcrumb:focus::after, .navigation-breadcrumb:hover::after {
    border-color: var(--brand-color-ui-highlight);
}

p, a, h1, h2, h3, h4, h5, h6, span, input {
    font-family: "Atkinson Hyperlegible", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3, h4, h5, h6, legend {
    color: var(--foreground-color-headings);
}
footer > div > h1, footer > div > h2, footer > div > h3, footer > div > h4, footer > div > h5, footer > div > h6, footer > div > legend {
    color: var(--brand-color-contrast);
}

div, main, nav, footer, dialog {
    word-wrap: normal;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: var(--padding-level-one);
    position: relative;
    box-sizing: border-box;
}

dialog {
    word-wrap: normal;
    border: none;
    color: var(--foreground-color);
    box-sizing: border-box;
}

nav {
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);
    height: 4rem;
}

#skip-to-content-link {
    position: fixed;
    top: 0rem;
    width: 20rem;
    left: -100rem;
    text-align: center;
    color: var(--brand-color-contrast);
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
    margin: 0 0 0 0;
    z-index: 1000;
    background-color: var(--brand-color-alternate);
}

#skip-to-content-link:focus, #skip-to-content-link:hover {
    color: var(--brand-color-contrast);
    background-color: var(--brand-color-alternate);
    padding: 1.5rem;
    left: -10rem;
    margin: 0 0 0 50%;
    outline-width: 0.2rem;
    outline-offset: 0rem;
}

.reference-element {
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.low-margin-heading {
    margin: 0;
}

@keyframes loading-placeholder {
    0% {
        background-position: 400% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.loading-placeholder {
    color: transparent;
    opacity: 50%;
    user-select: none;
    background: linear-gradient(-45deg, #444444 0%, #444444 25%, #bbbbbb 50%, #444444 75%, #444444 100%);
    background-size: 400% 400%;
    animation: loading-placeholder 3s linear infinite;
}

@keyframes loading-icon-part-a {
    0% {
        transform: translate(-0.3em, 0);
    }
    50% {
        transform: translate(0.3em, 0);
    }
    100% {
        transform: translate(-0.3em, 0);
    }
}
@keyframes loading-icon-part-b {
    0% {
        transform: translate(0.3em, 0);
    }
    50% {
        transform: translate(-0.3em, 0);
    }
    100% {
        transform: translate(0.3em, 0);
    }
}
.loading-icon {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    margin-bottom: 0.1em;
    margin-left: 0.2em;
    vertical-align: text-bottom;
}
.loading-icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--foreground-color-headings);
    border-radius: 1em;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    animation: loading-icon-part-a 1.5s ease-in-out 0s infinite;
}
.loading-icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--foreground-color-headings);
    border-radius: 1em;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    animation: loading-icon-part-b 1.5s ease-in-out 0s infinite;
}

.inline-icon, .inline-icon-low-margin, .icon-submit {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center;
    height: 1.25em;
    width: 1.25em;
}

.inline-icon-low-margin {
    background-size: 1.25em;
}

.inline-icon-shift-left {
    margin-left: -0.125em;
    margin-right: 0.25em;
}

.inline-icon-shift-right {
    margin-right: -0.125em;
    margin-left: 0.25em;
}

.inline-icon-middle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center;
    height: 1.25em;
    width: 1.25em;
}

.flag-icon-red {
    background-image: url("/Static/CSS/Icons/flag_red_48dp.svg");
}

input[type=submit].icon-submit {
    font-size: inherit;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
    vertical-align: bottom;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 1.25em;
    width: 1.25em;
}

.large-inline-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 2em;
    margin-bottom:0.15em;
    background-position: center;
    height: 2em;
    width: 2em;
}

.corner-icon {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center;
    height: 1.25em;
    width: 1.25em;
    top: -1em;
    right: -1em;
    background-color: transparent !important;
}

.popup-link-icon {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1em;
    width: 1em;
    bottom: 0.15em;
    left: 0.5em;
}

.functional-group-div {
    margin: 0;
    padding: 0;
    opacity: 1;
}
.inactive-functional-group-div {
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.tag-badge, .tag-badge-inline, .tag-badge-inline-large {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.75rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.2em 0.9em 0.2em 0.9em;
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);
}
.tag-badge-inline {
    font-size: 0.55em;
    margin: 0.3em 0.5em 0 0;
    border-radius: 1em;
    vertical-align: top;
}
.tag-badge-inline-large {
    font-size: 1em;
    margin: 0.3em 0.5em 0 0;
    border-radius: 1em;
    vertical-align: baseline;
}
.tag-badge-small {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.4rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.2em 0.9em 0.2em 0.9em;
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);
}
.tag-badge-alternate-margins {
    margin: 0 1rem 0 0;
}

.case-closed-badge, .negative-badge {
    background-color: var(--negative-badge-color) !important;
    color: var(--negative-badge-color-contrast) !important;
}
.case-open-badge, .positive-badge {
    background-color: var(--positive-badge-color) !important;
    color: var(--positive-badge-color-contrast) !important;
}
.case-staging-badge, .neutral-badge {
    background-color: var(--neutral-badge-color) !important;
    color: var(--neutral-badge-color-contrast) !important;
}

.environment-warning {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}

.environment-warning > div {
    position: absolute;
    opacity: 0.4;
    height: 1rem;
    overflow: visible;
    left: 0;
    top: 0;
    width: 20000rem;
}

.environment-warning > div > span {
    position: relative;
    font-size: 1rem;
    margin-left: -39rem;
    margin-right: 2.5vw;
    display: inline-block;
    white-space: nowrap;
    transform-origin: 50% 50%;
    user-select: none;
}

.environment-warning > div > span:nth-of-type(3n+0) {
    transform: rotate(-15deg) translate(-2rem, 0);
}

.environment-warning > div > span:nth-of-type(3n+1) {
    transform: rotate(-15deg) translate(4rem, 0);
}

.environment-warning > div > span:nth-of-type(3n+2) {
    transform: rotate(-15deg) translate(-8rem, 0);
}

footer {
    background-color: var(--brand-color-alternate);
    color: var(--brand-color-alternate-contrast);
}
footer:nth-of-type(1) {
    background-color: var(--brand-color);
    color: var(--brand-color-contrast);
}

nav > div > h1 {
    margin: 0;
}

a, a > h1, a > h2, a > h3, a > h4, a > h5, a > h6{
    color: inherit;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: max(1px, 0.08em);
    cursor: pointer;
}

a:hover, a:focus {
    outline-offset: 0.2rem;
    /* opacity: 0.75; */
    /*text-decoration: underline; */
    /*
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    */
    /*text-decoration-thickness: max(1px, 0.08em);*/
}

p, label {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}
h5 {
    font-size: 1rem;
}
h4 {
    font-size: 1rem;
}
h3 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1.6rem;
}
h1, .selected-value-input {
    font-size: 2rem;
}

sup {
    font-size: 0.5em;
}

dl {
    display: inline-block;
    margin: 0 0 1rem 0;
    width: 100%;
    position: relative;
}
dt {
    font-weight: normal;
    margin: 0 0 0 0;
}
dd {
    font-weight: normal;
    margin: 0 0 1em 0;
}
dt:last-of-type {
    margin-bottom: 0;
}
dd:last-of-type {
    margin-bottom: 0;
}

dt {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
dd {
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 1em;
}

@media only screen and (min-width: 200mm) {
    dt {
        display: inline-block;
        vertical-align: text-top;
        width: 10rem;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    dd {
        display: inline-block;
        width: 100%;
        vertical-align: text-top;
        padding-left: 5mm;
        padding-right: 11rem;
        box-sizing: border-box;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0.5em;
        margin-right: -11rem;
    }
}

form {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    width: 100%;
    box-sizing: border-box;
}
fieldset {
    display: block;
    position: relative;
    margin: 0 0 var(--padding-level-one) 0;
    padding: var(--padding-level-one) var(--padding-level-one) 0 var(--padding-level-one);
    border: var(--outline-width) solid var(--foreground-color-outlines);
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
}
legend {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
}
input[type=submit] {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    padding: 0.5em;
    font-size: inherit;
    text-align: left;
    border: none;
    -webkit-appearance: none; /* needed to stop iOS breaking style */
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
}
.button, input[type=submit], .file-input-holder, .inline-button {
    color: var(--brand-color-contrast);
    background-color: var(--brand-color);
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: var(--button-padding);
    text-decoration: none;
    cursor: pointer;
}
.dangerous-button {
    background-color: var(--error-color);
    font-weight: bold;
    color: var(--error-color-contrast);
}
.less-important-button {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    color: var(--foreground-color);
}
span + .inline-button, p + .inline-button, a + .inline-button, input + .inline-button, select + .inline-button {
    margin: 0 0.2em 0 0.2em;
}
.inline-button {
    margin: 0 0.2em 0 0;
}
.button:hover, input[type=submit]:hover, .file-input-holder:hover, .inline-button:hover {
    opacity: 1;
    /* text-decoration: underline; */
    text-decoration-thickness: max(1px, 0.08em);
}
.button-box {
    margin: 0 -1rem 0 0;
    padding: 0 0 0 0;
    overflow: visible;
    display: inline-block;
}

input[type="file"] {
    display: none;
}
input[type=text], input[type=number], input[type=date], input[type=password], textarea, select {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: var(--outline-width) solid var(--foreground-color-outlines);
    border-radius: 0;
    -webkit-appearance: none; /* needed to stop iOS breaking style */
    width: var(--form-max-width-small);
    max-width: 100%;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.timestamp-input-box {
    margin-top: 0.2rem;
    display: block;
    margin-bottom: 1rem;
    padding: 0em;
    width: var(--form-max-width-small);
    max-width: 100%;
    box-sizing: border-box;
    overflow: visible;
}
.timestamp-input-box > div > input {
    display: inline-block;
}
.timestamp-input-box > .logical-box:nth-child(1) {
    display: inline-block;
    width: 13em;
}
.timestamp-input-box > .logical-box:nth-child(2) {
    display: inline-block;
    width: 7em;
}
.timestamp-input-box > div > .ts-box-year {
    width: 3.8em;
}
.timestamp-input-box > div > .ts-box-month, .timestamp-input-box > div > .ts-box-day, .timestamp-input-box > div > .ts-box-hour, .timestamp-input-box > div > .ts-box-minute {
    width: 3em;
}
input[type=date] {
    min-height: 2.4rem; /* needed to stop iOS breaking style */
}
fieldset > input[type=text], fieldset > input[type=date], fieldset > input[type=password], fieldset > textarea, fieldset > select {
    width: var(--form-max-width-small-fieldset);
}
textarea {
    resize: vertical;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.inline-input {
    display: inline-block;
    margin: 0 0.2em 0 0.2em;
}
input:disabled, input:hover:disabled, input:focus:disabled, textarea:disabled, textarea:hover:disabled, textarea:focus:disabled {
    opacity: 0.5;
}
.fullwidth-text-input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
select {
    background-color: var(--background-color);
    color: var(--foreground-color);
    position: relative;
    background: url("/Static/CSS/Icons/arrow_drop_down_black_48dp.svg") no-repeat right var(--background-color);
    background-size: contain;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-holder, .radio-button-holder {
    padding: 0;
    margin-bottom: 0.75rem;
    position: relative;
    display: inline-block;
    overflow: visible;
}
.checkbox-holder > label, .radio-button-holder > label {
    padding-left: 3.5rem;
    margin-top: -2.7rem;
    margin-bottom: 0;
    box-sizing: border-box;
    float: right;
    min-height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.checkbox-holder > label > p, .radio-button-holder > label > p {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.radio-button-scale-holder {
    padding: 1rem 0 1rem 0;
    display: flex;
    overflow: visible;
    width: var(--form-max-width-small);
    max-width: 100%;
    justify-content: space-between;
}
.radio-button-scale-holder > div {
    padding: 0;
    width: 2.5rem;
    position: relative;
    overflow: visible;
    display: inline-block;
}
.radio-button-scale-holder > div > input {
    padding: 0;
    box-sizing: border-box;
    display: block;
    position: relative;
}
.radio-button-scale-holder > div > label {
    padding: 0 0 1rem 0;
    top: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    text-align: center;
    display: block;
    position: relative;
}

.asterisk-hidden-text {
    color: var(--error-color);
    font-size: 0;
}
.asterisk-hidden-text:hover {
    font-size: inherit;
}
.asterisk-hidden-text::before {
    content: "*";
    font-size: 2rem;
    top: 0.5rem;
    margin-top: -1rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.error-text {
    color: var(--error-color);
}

.fatal-error-text, .permission-error-badge {
    color: var(--error-color-contrast);
    background-color: var(--error-color);
}

.warning-note {
    color: var(--error-color);
    background-color: transparent;
    border: 0.2rem solid var(--error-color);
    padding: 0.8rem 1rem 1rem 1rem;
    margin: 1rem 0 1rem 0;
}

.critical-note {
    color: var(--error-color-contrast);
    background-color: var(--error-color);
    border: 0.2rem solid var(--error-color);
    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem 0 1rem 0;
}

.critical-note::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/assets/crosshatch-white.svg");
    background-repeat: repeat no-repeat;
    background-size: auto 100%;
    background-position: left top; 
    width: 100%;
    height: 1.25rem;
    top: 0;
    left: 0;
}

.info-note {
    color: var(--brand-color-alternate-contrast);
    background-color: var(--brand-color-alternate);
    border: 0.2rem solid var(--brand-color-alternate);
    padding: 0.8rem 1rem 1rem 1rem;
    margin: 1rem 0 1rem 0;
}

.note-heading {
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

.permission-error-badge {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.2em 0.9em 0.2em 0.9em;
    user-select: none;
}

.info-button {
    font-size: 0.75rem;
    top: 0.5rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
}

input[type=checkbox], .fake-checkbox-false, .fake-checkbox-true {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 0;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
    border: var(--outline-width) solid var(--foreground-color-outlines);
    border-radius: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    float: left;
}
input[type=radio] {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 0;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
    border: var(--outline-width) solid var(--foreground-color-outlines);
    border-radius: 2.5rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    float: left;
}
input[type=checkbox]:active, input[type=checkbox]:checked:active, input[type=radio]:active, input[type=radio]:checked:active {
    background-color: #eeeeee;
}
input[type=checkbox]:checked, input[type=radio]:checked, .fake-checkbox-true  {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
input[type=checkbox]:checked::after, .fake-checkbox-true::after {
    content: "";
    background-image: url("/Static/CSS/Icons/check_white_48dp.svg");
    background-size: contain;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    height: 1.75rem;
    width: 1.75rem;
    color: var(--brand-color-contrast);
}
input[type=radio]:checked::after {
    content: "";
    background-image: url("/Static/CSS/Icons/check_white_48dp.svg");
    background-size: contain;
    position: absolute;
    top: 0.25rem;
    left: 0.2rem;
    height: 1.75rem;
    width: 1.75rem;
    color: var(--brand-color-contrast);
}

.error-toast {
    border-radius: 0 1em 1em 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: -0.5rem;
    font-weight: bold;
    display: block;
    width: var(--form-max-width-small);
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--error-color);
    color: var(--error-color-contrast);
}
fieldset > .error-toast {
    width: var(--form-max-width-small-fieldset);
}

.inner-content {
    margin: auto;
    width: 200mm;
    max-width: 100%;
    min-width: 75vw;
    padding: 0;
    overflow: visible;
}

#navigation-logo {
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
    text-decoration: none;
}
#navigation-logo:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#navigation-logo > img {
    height: 1.3em;
    margin-top: 0em;
    margin-right: 0.6em;
    float: left;
}
/* perfectly scaled to text
#navigation-logo > img {
    height: 0.7em;
    margin-top: 0.3em;
    margin-right: 0.3em;
    float: left;
}
*/

#navigation-buttons {
    float: right;
    width: auto;
    padding: 0;
    overflow: visible;
}
#navigation-buttons > a {
    margin: 0.35rem 0rem 0.3rem 0.8rem;
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}
#navigation-buttons > .language-swap {
    
}
#navigation-buttons > a:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#hamburger-menu-button {
    display: none;
}
#hamburger-menu-button > label {
    visibility: hidden;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}
#navigation-menu {
    display: none;
}
@media only screen and (max-width: 300mm) {
    /* centered
    #navigation-logo {
        margin: auto;
        text-align: center;
        float: none;
    }
    #navigation-buttons {
        margin: auto;
        text-align: center;
        width: auto;
        float: none;
    }
    */
    #navigation-logo {
        font-size: 1.5rem;
        float: none;
    }
    #navigation-buttons > a {
        margin: 0.65rem 0.8rem 0.3rem 0rem;
    }
    #navigation-buttons {
        display: none;
        float: none;
    }
    nav {
        overflow: visible;
    }
    nav > div {
        overflow: visible;
    }
    #navigation-logo > img {
        height: 1.3em;
        margin-top: 0em;
        margin-right: 0.6em;
        float: left;
    }
    #hamburger-menu-button {
        overflow: visible;
        display: block;
        position: relative;
        float: right;
        width: 2rem;
        height: 2rem;
        padding: 0;
        margin: 0;
        user-select: none;
        z-index: 16;
    }
    #hamburger-menu-button > input {
        padding: 0;
        margin: 0;
        width: 2rem;
        height: 2rem;
        border: none;
        background-color: transparent;
        opacity: 0.25;
        border-radius: 1rem;
        user-select: none;
        z-index: 16;
    }
    #hamburger-menu-button > span {
        background-color: var(--brand-color-contrast);
        padding: 0;
        margin: 0;
        left: 10%;
        position: absolute;
        box-sizing: border-box;
        width: 80%;
        height: 19%;
        opacity: 1;
        transition: 0.25s cubic-bezier(.5, 0, .5, 1);
    }
    #hamburger-menu-button > #burger-bun-top {
        top: 10%;
        transform-origin: 10% 100%;
    }
    #hamburger-menu-button > #burger-meat {
        top: 40%;
    }
    #hamburger-menu-button > #burger-bun-bottom {
        top: 70%;
        transform-origin: 10% 0%;
    }
    #hamburger-menu-button > input:checked ~ span {
        
    }
    #hamburger-menu-button > input:checked ~ #burger-bun-top {
        width: 96%;
        left: 17%;
        transform: rotate(45deg);
    }
    #hamburger-menu-button > input:checked ~ #burger-meat {
        opacity: 0;
    }
    #hamburger-menu-button > input:checked ~ #burger-bun-bottom {
        width: 96%;
        left: 17%;
        transform: rotate(-45deg);
    }
    #hamburger-menu-button > input:active, #hamburger-menu-button > input:checked:active {
        background-color: var(--brand-color-contrast);
    }
    #hamburger-menu-button > input:checked {
        background-color: transparent;
    }
    #hamburger-menu-button > input:checked::after {
        content: "";
        background-image: none;
        background-size: contain;
        position: absolute;
        visibility: hidden;
    }
    #navigation-menu {
        display: block;
        position: fixed;
        width: 12rem;
        top: 4rem;
        opacity: 0;
        right: -16rem;
        margin-top: 2.2rem;
        height: 100vh;
        box-sizing: border-box;
        background-color: var(--brand-color);
        color: var(--brand-color-contrast);
        overflow-x: hidden;
        overflow-y: auto;
        transition: right 0.25s cubic-bezier(.5, 0, .5, 1), opacity 0.25s cubic-bezier(.5, 0, .5, 1), width 0.25s cubic-bezier(.5, 0, .5, 1);
        z-index: 16;
    }
    #navigation-menu > div > a {
        display: block;
        font-size: 1.5rem;
        margin: 0.5rem 0 0.1rem 0;
        text-align: right;
    }
    #hamburger-menu-button > input:checked ~ #navigation-menu {
        right: 0rem;
        top: 4rem;
        width: 100vw;
        opacity: 1;
        
    }
}
#navigation-logo-ultra-small {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
#navigation-logo-ultra-small:hover {
    /* text-decoration: underline;
    text-decoration-thickness: max(1px, 0.08em); */
    opacity:1;
}
#navigation-logo-ultra-small > img {
    height: 1.3em;
    margin-top: 0em;
    margin-right: 0.6em;
    float: left;
}
@media only screen and (max-width: 128mm) {
    #navigation-logo {
        display: none;
    }
    #navigation-logo-ultra-small {
        display: inline-block;
    }
}

.separator {
    width: 100%;
    height: 0mm;
    padding: 0;
    margin: 0;
    display: block;
}

.small-spacer {
    width: 100%;
    height: 0.5rem;
    padding: 0;
    margin: 0;
}

.margin-spacer {
    width: 100%;
    height: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.spacer {
    width: 100%;
    height: 1rem;
    padding: 0;
    margin: 0;
}

.large-spacer {
    width: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.huge-spacer {
    width: 100%;
    height: 5rem;
    padding: 0;
    margin: 0;
}

.link-list {
    list-style-type: none;
    padding: 0 0 0 0;
    column-count: 5;
    column-rule-width: 0.2rem;
    column-rule-style: solid;
    column-gap: 2rem;
    column-fill: balance;
    column-rule-color: currentcolor;
}
.link-list > li {
    margin: 0 0 0.5em 0;
    display: inline-block;
    width: 100%;
    break-inside: avoid;
}
@media only screen and (max-width: 460mm) {
    .link-list {
        column-count: 3;
    }
}
@media only screen and (max-width: 240mm) {
    .link-list > li {
        margin: 0 0 1em 0;
    }
}
@media only screen and (max-width: 180mm) {
    .link-list {
        column-count: 2;
    }
}
@media only screen and (max-width: 128mm) {
    .link-list {
        column-count: 1;
    }
}
.screen-reader-hint {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    margin: -1px;
    width: 1px; 
}
.loading-bar-container {
    height: 1em;
    padding: 0;
    margin-bottom: 1em;
    border: var(--outline-width) solid var(--foreground-color-outlines);
}

.loading-bar {
    height: 2em;
    transition: width 0.2s;
    margin: 0;
    background-color: var(--brand-color);
}


#portal-authenticated-user-bar {
    background-color: var(--brand-color-alternate);
    color: var(--brand-color-alternate-contrast);
}
#portal-authenticated-user-bar > div::after {
    content: "";
    clear: both;
    display: block;
}
#portal-authenticated-user-bar > div > .button {
    float: right;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}
#portal-authenticated-user-bar > div > p {
    float: left;
    margin-top: 0.55em;
    margin-bottom: 0.55em;
}
@media only screen and (max-width: 300mm) {
    #portal-authenticated-user-bar > div {
        overflow: visible;
    }
    #portal-authenticated-user-bar > div > .button {
        display: none;
    }
    #portal-authenticated-user-bar > div > p {
        float: left;
        margin-top: -0.5em;
        margin-bottom: -0.5em;
    }
}


.logo-gallery-flow-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15mm 15mm;
    justify-content: flex-start;
    display: flex;
    overflow: visible;
    width: 100%;
    padding: 0;
    margin: 2em 0 4em 0;
}

.logo-gallery-flow-box > a {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.logo-gallery-flow-box > a > #funders-armed-forces-covenant {
    width: 25mm;
}

.logo-gallery-flow-box > a > #funders-armed-forces-covenant-fund-trust {
    width: 75mm;
}

.logo-gallery-flow-box > a > #funders-national-lottery {
    width: 55mm;
}

.logo-gallery-flow-box > a > #funders-aberystwyth-university {
    width: 65mm;
}

.logo-gallery-flow-box > a > #funders-law-works {
    width: 25mm;
}

.navigation-breadcrumb {
    display: inline-block;
    position: relative;
    overflow: visible;
    padding: 0.3em 0.5em 0.2em 1.5em;
    color: var(--foreground-color);
    margin: 0.5rem -0.4rem 0 0;
    height: 2rem;
    box-sizing: border-box;
    vertical-align: top;
    line-height:1;
    border-width: 0.2rem;
    border-style: solid none solid none;
    border-color: var(--foreground-color);
}

.navigation-breadcrumb-container {
    padding: 0;
}

.navigation-breadcrumb:first-child {
    padding: 0.3em 0.5em 0.2em 0.5em;
    border-style: solid none solid solid;
}

.navigation-breadcrumb:last-child {
    font-weight: bold;
}

.navigation-breadcrumb::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -0.70710678118rem;
    right: -0.70710678118rem;
    width: 1.41421356237rem;
    height: 1.41421356237rem;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-sizing: border-box;
    border-width: 0.2rem;
    border-style: solid solid none none;
    border-color: var(--foreground-color);
}

.navigation-breadcrumb > span {
    vertical-align: baseline;
}

.navigation-breadcrumb > span > span {
    vertical-align: baseline;
}

.navigation-breadcrumb > span > .inline-icon-low-margin {
    height: 1rem;
    vertical-align: bottom;
}

@media only screen and (max-width: 200mm) {
    .navigation-breadcrumb {
        display: block;
        position: relative;
        overflow: visible;
        padding: 0 0 0 1em;
        color: var(--foreground-color);
        margin: 0.5rem 0 0 0;
        height: auto;
        box-sizing: border-box;
        border-width: 0.2rem;
        border-style: none;
        border-color: var(--foreground-color);
    }

    .navigation-breadcrumb:first-child {
        padding: 0;
        border-style: none;
    }
    
    .navigation-breadcrumb:first-child::before{
        content: "";
        display: none;
    }
    
    .navigation-breadcrumb::before{
        content: "";
    }

    .navigation-breadcrumb::after {
        content: "";
        display: none;
    }
}

.left-preferential-box, .right-preferential-box {
    padding: 0 0 0 0;
    overflow: visible;
}

@media only screen and (min-width: 300mm) {
    .left-preferential-box {
        width: 50%;
        padding-right: 1rem;
        float: left;
    }
    
    .left-preferential-box > :first-child, .right-preferential-box > :first-child {
        margin-top: 0;
    }
    
    .left-preferential-box > :first-child > :first-child , .right-preferential-box > :first-child > :first-child {
        margin-top: 0;
    }

    .right-preferential-box {
        width: 50%;
        padding-left: 1rem;
        float: right;
    }
}

.logical-box {
    padding: 0 0 0 0;
    overflow: visible;
}

.feedback-header {
    padding: 1.5rem var(--padding-level-one) 0 var(--padding-level-one);
}
.feedback-header > div {
    padding: var(--padding-level-one) 0 0 0;
}

.side-note {
    padding: 1rem 1rem 1rem 1rem !important;
}
.side-note > *:first-child {
    margin-top: 0;
}
.side-note > *:last-child {
    margin-bottom: 0;
}

.note-warning {
    background-color: var(--warning-color);
    color: var(--warning-color-contrast);
}
.note-warning > h2 {
    color: var(--warning-color-contrast);
}
.note-warning::before {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;
    top: 120%;
    margin: -16rem 0 0 0;
    right: 0rem;
    transform: rotate(15deg);
    height: 0;
    width: 0;
    box-sizing: border-box;
    padding: 12rem 12rem 0 0;
    background-image: url("/Static/CSS/Icons/warning_black_48dp.svg");
}


.note-info {
    background-color: var(--warning-color);
    color: var(--warning-color-contrast);
}
.note-info > h2 {
    color: var(--warning-color-contrast);
}
.note-info::before {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;
    top: 120%;
    margin: -16rem 0 0 0;
    right: 0rem;
    transform: rotate(15deg);
    height: 0;
    width: 0;
    box-sizing: border-box;
    padding: 12rem 12rem 0 0;
    background-image: url("/Static/CSS/Icons/info_black_48dp.svg");
}




.marked-section {
    padding: 0.1rem 0 0.1rem 1rem;
    margin: 0 0 2.2rem 0;
    border-width: var(--outline-width);
    border-style: none none none solid;
    border-color: var(--foreground-color);
    overflow: visible;
}
@media only screen and (max-width: 180mm) {
    .marked-section {
        padding: 0.1rem 0 0.1rem 0.6rem;
        margin: 0 0 2.2rem -0.5rem;
        width: 100%;
        box-sizing: content-box;
        border-width: 0.15rem;
        border-style: none none none solid;
        border-color: var(--foreground-color);
        overflow: visible;
    }
}
/*
.right-preferential-box > .marked-section {
    padding: 0 1rem 0 0;
    border-style: none solid none none;
}
*/
.marked-section > *:first-child, .marked-section > a:first-child > * {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.marked-section > h2:first-child, .marked-section > h3:first-child, .marked-section > a:first-child > h2, .marked-section > a:first-child > h3 {
    margin-top: -0.3em;
    display: inline-block;
}
.marked-section > *:last-child {
    margin-bottom: 0;
}
.marked-section > .button-box:last-child {
    margin: 0 -1rem -1rem 0;
    padding: 0 0 0 0;
}

.marked-section > .heading-of-hideable-content {
    margin-bottom: -0.3em;
}

.marked-section > .heading-of-hideable-content + div {
    margin-top: 1.5rem;
}

.action-link, .reverse-navigational-link, .navigational-link, .navigational-link-new-tab {
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin: 0.25em 0 0.25em 0;
}

dt > .navigational-link, dd > .navigational-link, dt > .navigational-link-new-tab, dd > .navigational-link-new-tab {
    margin: 0 0 0 0;
}

dt > .reverse-navigational-link, dd > .reverse-navigational-link {
    margin: 0 0 0 0;
}

.action-link::after, .navigational-link::after, .navigational-link-new-tab::after {
    content: "";
    background-image: url("/Static/CSS/Icons/internal_link_marker_black_48dp.svg");
    background-size: contain;
    margin-left: 0.25em;
    vertical-align: top;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

.reverse-navigational-link::before {
    content: "";
    background-image: url("/Static/CSS/Icons/reverse_internal_link_marker_black_48dp.svg");
    background-size: contain;
    margin-right: 0.375em;
    margin-left: -0.125em;
    vertical-align: top;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

.navigational-link-new-tab::after {
    background-image: url("/Static/CSS/Icons/open_black_48dp.svg");
}

.action-link-delete::after {
    background-image: url("/Static/CSS/Icons/delete_black_48dp.svg");
}

.action-link-search::after {
    background-image: url("/Static/CSS/Icons/search_black_48dp.svg");
}

.action-link-close::after {
    background-image: url("/Static/CSS/Icons/close_black_48dp.svg");
}


.no-lower-margin {
    margin-bottom: 0;
}

.reverse-navigational-link-submit {
    margin: 0.25em 0 0.25em 0;
    vertical-align: top;
}
.reverse-navigational-link-submit > span {
    background-size: contain;
    margin: 0.25em 0.375em 0.25em -0.125em;
}
.reverse-navigational-link-submit > input {
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    text-decoration-style: solid;
    text-decoration-thickness: max(1px, 0.08em);
    padding: 0 0 0 1.5em;
    background-color: transparent;
    margin: 0.25em 0 0.25em -1.5em;
    outline-offset: 0.2rem;
}


input[type=checkbox].slider {
    width: 5rem;
    height: 2.5rem;
    margin: 0 0 0 0;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
    border: var(--outline-width) solid var(--foreground-color-outlines);
    border-radius: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    float: left;
    transition: background-color 0.2s;
}
input[type=checkbox].slider:active, input[type=checkbox].slider:checked:active {
    background-color: #eeeeee;
}
input[type=checkbox].slider:checked {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
input[type=checkbox].slider::after {
    content: "";
    background-size: contain;
    position: absolute;
    top: 0.25rem;
    left: 2.75rem;
    z-index: 1;
    background-image: url("/Static/CSS/Icons/close_black_48dp.svg");
    height: 1.75rem;
    width: 1.75rem;
    color: var(--brand-color-contrast);
}
input[type=checkbox].slider:checked::after {
    top: 0.2rem;
    left: 0.2rem;
    background-image: url("/Static/CSS/Icons/check_white_48dp.svg");
}
input[type=checkbox].slider::before {
    content: "";
    z-index: 2;
    background-color: var(--background-color);
    border: var(--outline-width) solid var(--foreground-color-outlines);
    box-sizing: border-box;
    background-image: none;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    height: 1.75rem;
    width: 1.75rem;
    transition: left 0.2s, border 0.2s;
    transition-timing-function: ease-in-out;
    color: var(--brand-color-contrast);
}
input[type=checkbox].slider:checked::before {
    content: "";
    background-color: var(--brand-color-contrast);
    border: var(--outline-width) solid var(--brand-color);
    background-image: none;
    position: absolute;
    top: 0.25rem;
    left: 2.75rem;
    height: 1.75rem;
    width: 1.75rem;
    color: var(--brand-color-contrast);
}

.loading-text {
    width: 100%;
    height: 1em;
    display: inline-block;
}

.code-block {
    font-family: "IBM Plex Mono";
    white-space: pre-wrap;
}
