{% set default_text_style = "font-size: 5mm;" %}
{% set small_text_style = "font-size: 3mm;" %}
{% set large_text_style = "font-size: 7mm;" %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% block content %}{% endblock %}
        
        {% if (sender or about) %}
        <span style="font-size: 2mm; font-family: monospace; margin: 0; opacity: 0.5; display: inline-block;">{% if about %}::auxrel:about:{{ about.uuid }}:: {% endif %}{% if sender %}::auxrel:sender:{{ sender.uuid }}:: {% endif %}</span>
        <a href="https://{{ INSTANCE_BRANDING_DOMAIN_NAME }}/docs/auxrel" style="font-size: 3mm; margin: 0.5mm 0 0 0; opacity: 0.5; display: block;">What&#39;s an ::auxrel:: tag&#63;</a>
        {% endif %}
        
        {% block tail %}
        {% endblock %}
    </body>
</html>
