{% extends "email-templates/automated-message-base.html.twig.twig" %}

{% block message %}
<p style="{{ default_text_style }}">Here's the verification code we need to finish setting up your account:</p>
<span id="verification-code" style="font-size: 7.5mm; font-family: monospace;">{{ verification_code }}</span>
{% endblock %}
