:root {
    --background-color: #448800;
    --foreground-color: #dbdbdb;
    --foreground-color-headings: #f2f2f2;
    --foreground-color-outlines: #dbdbdb;
    --error-color: #cc2200;
    --error-color-contrast: #ffffff;
    
    --outline-width: 0.15rem;
    
    --form-max-width-small: 128mm;
    --form-max-width-small-fieldset: 122mm;
    /* --form-max-width-small-fieldset: 116mm; */
    
    --padding-level-one: 5mm;
    --button-padding: 3mm;
}

.navigational-link::after {
    background-image: url("/assets/icons/internal_link_marker_white_48dp.svg");
}

.navigational-link-new-tab::after {
    background-image: url("/assets/icons/open_white_48dp.svg");
}
