
@import url("/Static/CSS/Unorganised/Main.css");
@import url("/Static/CSS/Unorganised/Aux.css");

@import url("/Static/CSS/Branding/Core.css");
@import url("/Static/CSS/Elements/Icons.css");

@import url("/Static/CSS/Elements/Badges.css");
@import url("/Static/CSS/Elements/DescriptionLists.css");
@import url("/Static/CSS/Elements/Inputs.css");
@import url("/Static/CSS/Elements/LinkList.css");
@import url("/Static/CSS/Elements/Loading.css");
@import url("/Static/CSS/Elements/MarkedSection.css");
@import url("/Static/CSS/Elements/Navigation.css");
@import url("/Static/CSS/Elements/Notes.css");

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-display: swap;
    src: url("/Static/Fonts/AtkinsonHyperlegible-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-display: swap;
    src: url("/Static/Fonts/AtkinsonHyperlegible-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "IBM Plex Mono";
    font-display: swap;
    src: url("/Static/Fonts/IBMPlexMono-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    font-display: swap;
    src: url("/Static/Fonts/IBMPlexMono-Bold.ttf") format('truetype');
    font-weight: bold;
}

:root {
    --brand-color: var(--brand-color-override, #152133);
    --brand-color-ui-highlight: var(--brand-color-ui-highlight-override, #e08910);
    --brand-color-contrast: var(--brand-color-contrast-override, #ffffff);
    --brand-color-alternate: var(--brand-color-alternate-override, #090e17);
    --brand-color-alternate-contrast: var(--brand-color-alternate-contrast-override, #ffffff);

    --background-color: #ffffff;
    --foreground-color: #000000;
    --foreground-color-headings: #000000;
    --foreground-color-outlines: #000000;

    --error-color: #cc2200;
    --error-color-contrast: #ffffff;

    --warning-color: #ffaa00;
    --warning-color-contrast: #000000;

    --positive-badge-color: #336600;
    --positive-badge-color-contrast: #ffffff;

    --neutral-badge-color: #ffaa00;
    --neutral-badge-color-contrast: #000000;

    --negative-badge-color: #cc2200;
    --negative-badge-color-contrast: #ffffff;

    --outline-width: 0.2rem;
    --outline-width-negative: -0.2rem;

    --form-max-width-small: 128mm;
    --form-max-width-small-fieldset: 122mm;
    /* --form-max-width-small-fieldset: 116mm; */

    --large-shadow-blur: 30mm;
    --large-shadow-spread: -10mm;

    --padding-level-one: 5mm;
    --button-padding: 3mm;
    --button-padding-inv: -3mm;

    font-size: 5mm;
}
