{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        <h1 class="no-lower-margin">Enter an invite code</h1>
        <a class="reverse-navigational-link" href="/sign-up">Choose a different account type</a>
        <div class="spacer"></div>
        
        <p>Accounts of this user type are invite-only. Please enter an invite code to continue account creation.</p>
        
        <div class="small-spacer"></div>
        
        <form method="POST" action="?fpk={{ form_persistence_key }}">
            
            <label for="invite_code">Invite Code<span class="asterisk-hidden-text">(required)</span></label>
            <input type="text" name="invite_code" placeholder="eight random words go here to continue setup" />
            {% if form_validation_failures.invite_code %}
            <p class="error-toast">That code didn't match a valid invite</p>
            {% endif %}
            
            <input type="submit" id="continue-button" value="Continue" />
        
        </form>

        {{ include("Pages/sign-up-form/contact-info.html") }}
    </div>
</div>

{% endblock %}
