<html>
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <style>@import url("/Static/CSS/Mapper.css");</style>
        <style>@import url("/system/first-setup/assets/aux.css");</style>
        <style>@import url("/system/first-setup/assets/aux-critical.css");</style>
        <title>Auxilium Setup</title>
    </head>
    <body>
        <div>
            <div class="inner-content">
                <script src="/js/generic-ui.js"></script>

                <div class="welcome-box">
                    <span class="inline-icon lock-icon-white"></span>
                    <h1>System initialisation failed</h1>
                    <h1>System initialisation failed</h1>
                </div>

                <div class="large-spacer"></div>
                <div class="large-spacer"></div>

                <div class="left-preferential-box">
                    <p>Initial setup has failed, check the <code>/{Local Storage Directory}/LocalStorage/setup.error</code> file.</p>
                    <div class="large-spacer"></div>
                </div>

                <div class="right-preferential-box">
                    <p></p>
                    <div class="large-spacer"></div>
                </div>
            </div>
        </div>
    </body>
</html>
