{% extends "/Bases/SystemInitWizard.html.twig" %}

{% block content %}
<div>
    <div class="inner-content">
        <script src="/js/generic-ui.js"></script>
        
        <h1>Is this instance going to be centrally managed?</h1>
        
        <h2>If so, enter the pairing url now</h2>
        
        <input type="text" placeholder="https://portal.auxiliumsoftware.co.uk/pair/housepearlightappledawnsunbirddog" />
        
        <h2>If not, continue with setup of a standalone instance</h2>
        
        <a href="/system/init?lang={{ lang }}&setup_key={{ setup_key }}&page=racc" class="navigational-link">Continue with independent setup</a><br />
    </div>
</div>
{% endblock %}
