<html>
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <style>@import url("/Static/CSS/Mapper.css");</style>
        <style>@import url("/Static/CSS/SectionSpecific/SystemInit/Aux.css");</style>
        <style>@import url("/Static/CSS/SectionSpecific/SystemInit/Aux-Negative.css");</style>
        <title>Auxilium Setup</title>
    </head>
    <body>
        <div>
            <div class="inner-content">
                <script src="/js/generic-ui.js"></script>
                
                <div class="welcome-box">
                    <span class="inline-icon lock-icon-white"></span>
                    <h1>System initialisation locked-out</h1>
                    <h1>Cychwyn system cloi allan</h1>
                </div>
                
                <div class="large-spacer"></div>
                <div class="large-spacer"></div>
                
                <div class="left-preferential-box">
                    <p>Initial setup has already been started, but has not been completed. If you are an administrator and are seeing this message, you need to reset your instance of Auxilium.</p>
                    <div class="large-spacer"></div>
                </div>
                
                <div class="right-preferential-box">
                    <p>Mae'r gosodiad cychwynnol eisoes wedi'i ddechrau, ond nid yw wedi'i gwblhau. Os ydych chi'n weinyddwr ac yn gweld y neges hon, mae angen i chi ailosod eich enghraifft o Auxilium.</p>
                    <div class="large-spacer"></div>
                </div>
            </div>
        </div>
    </body>
</html>
