.welcome-box {
    position: relative;
    padding: 0 0 0 0;
    height: 6rem;
    margin-top: 8rem;
    overflow: visible;
}

.welcome-box > .inline-icon {
    position: absolute;
    padding: 0 0 0 0;
    height: 5rem;
    left: -6rem;
    width: 5rem;
    background-size: 4em;
}

@keyframes welcome-box-text {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.welcome-box > h1 {
    position: absolute;
    top: 0;
    opacity: 0;
    animation-name: welcome-box-text;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.welcome-box > h1:nth-child(1) {
    animation-delay: 0s;
}

.welcome-box > h1:nth-child(2) {
    animation-delay: 3s;
}

body, h1, h2, h3 {
    transition: background-color 0.2s, color 0.2s;
}

.dark-mode {
    --background-color: #121212;
    --foreground-color: #dbdbdb;
    --foreground-color-headings: #f2f2f2;
    --foreground-color-outlines: #dbdbdb;
    --error-color: #cc2200;
    --error-color-contrast: #ffffff;

    --outline-width: 0.15rem;

    --form-max-width-small: 128mm;
    --form-max-width-small-fieldset: 122mm;
    /* --form-max-width-small-fieldset: 116mm; */

    --padding-level-one: 5mm;
    --button-padding: 3mm;
}

.dark-mode .navigational-link::after {
    background-image: url("/assets/icons/internal_link_marker_white_48dp.svg");
}

.dark-mode .navigational-link-new-tab::after {
    background-image: url("/assets/icons/open_white_48dp.svg");
}

input[type=checkbox]#dark-mode-toggle::after {
    top: 0.25rem;
    left: 2.75rem;
    background-image: url("/assets/icons/dark_mode_white_48dp.svg");
}

input[type=checkbox]:checked#dark-mode-toggle::after {
    top: 0.25rem;
    left: 0.25rem;
    background-image: url("/assets/icons/light_mode_white_48dp.svg");
}
