{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        <h1 class="no-lower-margin">{{ "forms/sign_up/create_account" | uitxtrt }}</h1>
        <a class="reverse-navigational-link" href="/sign-up">{{ "forms/sign_up/choose_different_account_type" | uitxtrt }}</a>
        <div class="spacer"></div>
        
        <p>{{ "forms/sign_up/already_account_login_start" | uitxtrt }} <a href="/login?fpk={{ form_persistence_key }}">{{ "forms/sign_up/already_account_login_link" | uitxtrt }}</a>{{ "forms/sign_up/already_account_login_end" | uitxtrt }} {{ "forms/sign_up/sso_option_blurb_start" | uitxtrt }} <a href="/login?fpk={{ form_persistence_key }}">{{ "forms/sign_up/sso_option_blurb_link" | uitxtrt }}</a> {{ "forms/sign_up/sso_option_blurb_end" | uitxtrt }}</p>
        
        <div class="small-spacer"></div>
        
        <form method="POST" action="?fpk={{ form_persistence_key }}">
        
            <label for="full_name">{{ "data_types/full_name" | uitxtrt | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="text" name="full_name" {% if form_values.full_name %} value="{{ form_values.full_name }}" {% endif %} />
            {% if form_validation_failures.full_name %}
            <p class="error-toast">{{ "forms/sign_up/provide_full_name" | uitxtrt }}</p>
            {% endif %}
            
            <label for="email_address">{{ "data_types/email" | uitxtrt | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="text" name="email_address" {% if form_values.email_address %} value="{{ form_values.email_address }}" {% endif %} />
            {% if form_validation_failures.email_address_valid %} 
            <p class="error-toast">{{ "forms/sign_up/provide_valid_email" | uitxtrt }}</p>
            {% endif %}
            {% if form_validation_failures.email_address_unique %}
            <p class="error-toast">{{ "forms/sign_up/email_already_used" | uitxtrt }}</p>
            {% endif %}
            
            <label for="password">{{ "data_types/password" | uitxtrt | ndsentence }} <strong>({{ "forms/sign_up/minimum_eight_chars" | uitxtrt }})</strong> <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="password" name="password" {% if form_values.password %} value="{{ form_values.password }}" {% endif %} />
            {% if form_validation_failures.password_length %}
            <p class="error-toast">{{ "forms/sign_up/minimum_eight_chars_notice" | uitxtrt }}</p>
            {% endif %}
            
            <label for="password_confirm">{{ "forms/sign_up/password_confirmation" | uitxtrt }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="password" name="password_confirm" id="password-confirm" {% if form_values.password_confirm %} value="{{ form_values.password_confirm }}" {% endif %} />
            {% if form_validation_failures.password_confirm %}
            <p class="error-toast">{{ "forms/sign_up/passwords_must_match_notice" | uitxtrt }}</p>
            {% endif %}

            
            <p>{{ "forms/sign_up/may_record_ip" | uitxtrt }}</p>
            <div class="checkbox-holder">
                <input type="checkbox" name="privacy_policy_consent" value="true" {% if form_values.privacy_policy_consent %} checked {% endif %} />
                <label for="privacy_policy_consent"><p>{{ "forms/sign_up/agree_record_ip_start" | uitxtrt }} <a href="/privacy-policy" target="_blank">{{ "forms/sign_up/agree_record_link" | uitxtrt }}</a> ({{ "opens_in_new_tab" | uitxt }}){{ "forms/sign_up/agree_record_ip_end" | uitxtrt }} <span class="asterisk-hidden-text">({{ "forms/sign_up/consent_required" | uitxtrt }})</span></p></label>
            </div>
            
            {% if form_validation_failures.privacy_policy_consent %}
            <p class="error-toast">{{ "forms/sign_up/consent_required_notice" | uitxtrt }}</p>
            {% endif %}
            
            <input type="submit" id="continue-button" value="{{ "forms/generic/continue" | uitxtrt }}" />
        
        </form>

        {{ include("sign-up-form/contact-info.html") }}
    </div>
</div>

{% endblock %}
