{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}Node missing{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        {% include "/Pages/node-views/node-view-breadcrumbs.html.twig" %}
    
        <h1>Error 404</h1>
        
        <h2>Node not found</h2>
        <p>Either the node has been moved or the URL is incorrect. Whatever you were looking for, it isn't here.</p>

        <h2>General Queries</h2>
        <p>If you came to this page from a link, or believe for some other reason that this page should not have presented an error, please contact us:</p>
        <ul>
            <li><p>By email: <a href="mailto:{{ INSTANCE_INFO_MAINTAINER_EMAIL }}">{{ INSTANCE_INFO_MAINTAINER_EMAIL }}</a></p></li>
        </ul>
    </div>
</div>

{% endblock %}
