{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "node-views/node-view-breadcrumbs.html" %}
    
        <h1>Adding a new property</h1>
        
        <div class="spacer"></div>
        
        <div class="left-preferential-box">
            <div class="marked-section">
                <h2>Add a new piece of data</h2><br />
                <a class="navigational-link" href="/new/text?{{ url_metadata }}">Add text data</a><br />
                <a class="navigational-link" href="/new/collection?{{ url_metadata }}">Create new list</a><br />
                <a class="navigational-link" href="/new/file?{{ url_metadata }}">Upload a file</a><br />
            </div>
            
            <div class="marked-section">
                <h2>Use a form</h2><br />
                {% for form in form_list %}
                    <a class="navigational-link" href="/form/{{ form.id }}?{{ url_metadata }}">{{ form.name | uitxtrt }}</a><br />
                {% endfor %}
            </div>
        </div>
        
        <div class="right-preferential-box">
            <div class="marked-section">
                <h2>Link existing data</h2><br />
                <a class="navigational-link" href="">Search for a node</a><br />
            </div>
        </div>

    </div>
</div>

{% endblock %}
