{% extends "node-views/generic.html" %}

{% set address_user_as = "this user" %}

{% if node.properties.display_name %}
    {% set address_user_as = node.properties.display_name %}
{% elseif node.properties.name %}
    {% set address_user_as = node.properties.name %}
{% endif %}


{% block primary_content %}

{{ parent() }}

<div class="marked-section">
    <h2>{{ "node_page_text/user/cases" | uitxtrt | ndsentence }}</h2>
    <ul class="collection-list">
    {% if node.properties.cases %}
        {% for prop_name, prop in node.properties.cases.properties %}
            {% if progressive_load %}
                {{ (deegraph_path ~ "/cases/" ~ prop_name) | dnd | raw }}
            {% else %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/cases/" ~ (prop_name | url_encode) %}
                <li>{{ include("node-views/inline-node-view.html") }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
    <div class="spacer"></div>
    <a class="navigational-link" href="/form/8c5b68fb-b79d-4b5f-b3bb-984ee3214891?{{ url_metadata }}">{% if is_own_account %}{{ "open_new_case" | uitxt | ndsentence }}{% else %}{{ "open_new_case" | uitxt | ndsentence }}{% endif %}</a><br />
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/generic/documents" | uitxtrt | ndsentence }} <a href="javascript:{let win = new NewPropertyPopup('FILE_UPLOAD', '{{ "{" ~ node.id ~ "}" }}/documents/#', true);document.getElementById('main-content').after(win.render());};" class="inline-icon upload-icon" title="{{ "upload_file" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list" id="documentsContainer">
    {% if progressive_load %}
        <script>
            let documentInfiniteScroller = new InfiniteScroller("SELECT @path FROM  {{ ("{" ~ node.id ~ "}") | raw }}/documents/# DESC", document.getElementById("documentsContainer"));
        </script>
    {% else %}
        {% if node.properties.documents %}
        
            {% for prop_name, prop in node.properties.documents.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/documents/" ~ (prop_name | url_encode) %}
                <li>{{ include("node-views/inline-node-view.html") }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div id="uploadFileProgressLocation"></div>
    </ul>
</div>

{% endblock %}

{% block secondary_content %}
        
<div class="marked-section">
    <h2>{{ "node_page_text/user/user_management" | uitxtrt | ndsentence }}</h2><br />
    {% if "DELETE" in node.permissions %}
        <a class="action-link action-link-delete" href="/graph/{{ primary_string_path | raw }}/@delete_confirm?{{ url_metadata }}">{{ "node_page_text/user/delete_node" | uitxtrt | ndsentence }}</a><br />
    {% endif %}
    <a class="navigational-link" href="/graph/{{ primary_string_path | raw }}/@references?{{ url_metadata }}">{% if is_own_account %}{{ "node_page_text/user/see_references_own" | uitxtrt | ndsentence }}{% else %}{{ "node_page_text/user/see_references" | uitxtrt | ndsentence }}{% endif %}</a>
    
    {% if "ACT" in node.permissions %}
    <h3 class="no-lower-margin">{{ "node_page_text/user/access" | uitxtrt | ndsentence }}</h3><br />
    
    <ul class="collection-list">
    {% for login_method in login_methods %}
        {% if login_method["type"] == "classic" %}
            <li><span class="inline-icon mail-lock-icon"></span> {{ "email_and_password" | uitxt | ndsentence }}</li>
        {% elseif login_method["type"] == "oauth" %}
            <li><span class="inline-icon verified-icon"></span> OAuth ({{ ("login_with_" ~ login_method["vendor"]) | uitxt }})</li>
        {% endif %}
    {% else %}
        <li><span class="inline-icon close-icon"></span> <em>No login method</em></li>
    {% endfor %}
    </ul>
    
    <div class="small-spacer"></div>
    <a class="navigational-link" href="/users/{{ node.id }}/login-methods">{% if is_own_account %}{{ "add_or_remove_login_methods" | uitxt | ndsentence }}{% else %}{{ ui_template("add_or_remove_login_methods_for", {"user":address_user_as}) }}{% endif %}</a><br />
    {% endif %}
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/user/messages" | uitxtrt | ndsentence }} <a href="/chats/new-message?to={{ node.id }}" class="inline-icon add-comment-icon" title="{{ "new_message" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list" id="messagesContainer">
    {% if progressive_load %}
        <script>
            let messagesInfiniteScroller = new InfiniteScroller("SELECT @path FROM  {{ ("{" ~ node.id ~ "}") | raw }}/messages/# DESC", document.getElementById("messagesContainer"));
        </script>
    {% else %}
        {% if node.properties.messages %}
            {% for prop_name, prop in node.properties.messages.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/messages/" ~ (prop_name | url_encode) %}
                <li>{{ include("node-views/inline-node-view.html") }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
    </ul>
</div>

{% endblock %}


{% block tertiary_content %}

<script src="/js/drag-and-drop-page.js"></script>
{% endblock %}
