{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "home" | uihdg }}{% endblock %}

{% block content %}

    <div>
        <div class="inner-content">
            <h2 class="">{{ "message_center" | uihdg }}</h2>


            <div class="chat-container">
                <div class="contact-list" id="contact_list">
                </div>
                <div class="chat-section">
                    <div class="chat-window" id="messages_container">
                    </div>
                    <script>
                        let messageInfiniteScroller = new InfiniteScroller(
                            "SELECT @path FROM ./messages/# DESC",
                            document.getElementById("messages_container"),
                            false
                        );
                    </script>
                    <div class="chat-input">
                        <input type="text" id="message-input" placeholder="Type your message here...">
                        <button id="send-button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
