@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("/assets/Roboto-Medium.ttf") format('truetype');
    font-weight: normal;
}

#homepage-top-fold-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    position: absolute;
    top: 0%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -2;
    background-image: url("/assets/images/default-background.jpg");
}
@media only screen and (max-width: 224mm) {
    #homepage-top-fold-image {
        background-image: url("/assets/images/default-background-small.jpg");
    }
}
#homepage-top-fold > .picture-credit {
    color: var(--brand-color-contrast);
    font-size: 3mm;
    position: absolute;
    bottom: 0;
}
#homepage-top-fold > #tagline-one {
    font-size: 1.5rem;
    display: block;
    margin: 0 0 40vh 0;
    padding: -8rem 0 0 0;
}
#homepage-top-fold {
    overflow: visible;
}



#homepage-top-fold > #headline-container {
    font-family: "Roboto";
    position: relative;
    overflow: visible;
    padding: 0;
    max-width: 75vw;
}
#homepage-top-fold > #headline-container::before {
    content: "";
    font-family: "Roboto";
    background-color: var(--brand-color);
    padding: 1rem;
    margin: -1rem -1.5rem 0 0;
    position: absolute;
    box-sizing: content-box;
    right: 100%;
    width: 100vw;
    height: 100%;
}
#homepage-top-fold > #headline-container > #headline, #homepage-top-fold > #headline-container > #headline-shadow-container > #headline-shadow {
    font-size: 1.5rem;
    display: inline;
    font-family: "Roboto";
    margin: 5vh 0 5vh 0;
    padding: 1rem 0 1rem 0;
    position: relative;
    overflow: visible;
    color: var(--brand-color-contrast);
}
#homepage-top-fold > #headline-container > #headline-shadow-container {
    position: absolute;
    overflow: visible;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 1.5rem;
    right: 0;
}
#homepage-top-fold > #headline-container > #headline-shadow-container > #headline-shadow {
    color: transparent;
    font-family: "Roboto";
    background-color: var(--brand-color);
    box-sizing: border-box;
    user-select: none;
}


@media only screen and (min-width: 224mm) {
    #homepage-top-fold > #headline-container {
        max-width: 60%;
    }

    #homepage-top-fold > #headline-container > #headline, #homepage-top-fold > #headline-container > #headline-shadow-container > #headline-shadow {
        font-size: 2.0rem;
    }
}

#homepage-top-fold > #tagline-two {
    font-size: 1.5rem;
    display: block;
    margin: 0 0 5vh 0;
    padding: 0 0 5rem 0;
}
