<html>
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <style>@import url("/Static/CSS/Mapper.css");</style>
        <style>@import url("/Static/CSS/SectionSpecific/SystemInit/Aux.css");</style>
        <style>@import url("/Static/CSS/SectionSpecific/SystemInit/Aux-Critical.css");</style>
        <title>Auxilium Setup</title>
    </head>
    <body>
        <div>
            <div class="inner-content">
                <script src="/js/generic-ui.js"></script>

                <div class="welcome-box">
                    <span class="inline-icon lock-icon-white"></span>
                    <h1>Missing `Credentials.php`</h1>
                    <h1>Missing `Credentials.php`</h1>
                </div>

                <div class="large-spacer"></div>
                <div class="large-spacer"></div>

                <div class="left-preferential-box">
                    <p>Please contact a system administrator.</p>
                </div>
            </div>
        </div>
    </body>
</html>
