<html>
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta name="description" content="">
        <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <style>@import url("/Static/CSS/Unorganised/main.css");</style>
        <style>@import url("/system/first-setup/assets/aux.css");</style>
        <title>Auxilium Setup</title>
    </head>
    <body>
        <div>
            <div class="inner-content">
                <script src="/js/generic-ui.js"></script>
                
                <div class="welcome-box">
                    <h1>Welcome to Auxilium</h1>
                    <h1>Croeso i Auxilium</h1>
                </div>
                
                <a href="/system/init?lang=en&setup_key={{ setup_key }}&page=cmgmt" class="navigational-link">Continue in English</a><br />
                <a href="/system/init?lang=cy&setup_key={{ setup_key }}&page=cmgmt" class="navigational-link">Parhewch yn Gymraeg</a><br />
                
                <div class="spacer"></div>
                
                <input type="checkbox" class="slider" id="dark-mode-toggle" />
                
                <script>
                    let sdmt = null;
                
                    function switchDarkMode(to) {
                        if (to) {
                            document.body.classList.remove("dark-mode");
                            sdmt = setTimeout(() => {
                                let navLinks = document.getElementsByClassName("navigational-link");
                                for (var i = 0; i < slides.length; i++) {
                                    navLinks.item(i).classList.remove("dark-mode");
                                }
                            }, 100);
                            document.cookie = "style=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        } else {
                            document.body.classList.add("dark-mode");
                            sdmt = setTimeout(() => {
                                let navLinks = document.getElementsByClassName("navigational-link");
                                for (var i = 0; i < slides.length; i++) {
                                    navLinks.item(i).classList.add("dark-mode");
                                }
                            }, 100);
                            document.cookie = "style=dark-mode; path=/;";
                        }
                    }
                
                    document.getElementById("dark-mode-toggle").addEventListener("change", function() {
                        switchDarkMode(document.getElementById("dark-mode-toggle").checked);
                    });
                    
                    switchDarkMode(document.getElementById("dark-mode-toggle").checked);
                </script>
            </div>
        </div>
    </body>
</html>
