{% extends "base.html" %}

{% block title %}{{ "home" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/system">{{ "system_settings" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/system/import">{{ "import_data" | uihdg }}</a>
        </div>
        
        <script src="/js/generic-ui.js"></script>
        
        <h1>{{ "import_data" | uihdg }}</h1>
        
        <form method="POST" enctype="multipart/form-data">
            <label for="dump" class="button"><span class="inline-icon folder-icon-white"></span> Choose a file</label>
            <input type="file" id="dump" name="dump" />
            <div class="separator"></div>
            <input type="submit" value="Upload" name="submit" />
        </form>

    </div>
</div>
{% endblock %}
